body{
    font-size: 20;
    background-color: rgb(75, 75, 75);
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.subtitle{
    font-weight: 800;
}
.subtitle2{
    text-transform: uppercase;
    color: rgb(187, 169, 169);
}

section.content{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border: 5px solid darkgray;
    font-family:  Helvetica, sans-serif;
}
p.p1{
    float:left;
}
.pic{
    padding: 5;
    border: 1px solid darkgray;
    float:right;    
}
header .name{
    font-style: italic;
    font-size: 50;
}
header{
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
}
.reference{
    padding: 20px;
    text-align: center;
    color: darkgray;
}
a:link{
    color: aqua;
}
a:visited{
    color:aqua;
}
body span{
    color:rgb(187, 169, 169);
}